header {
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
  height: 78px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .inner {
  padding: 25.5px 45px 0 45px; 
}
header .logo {
  display: inline-block;
  cursor: pointer;
}
header .title {
  display: inline-block;
  height: 48px;
  margin: 0 0 0 45px;
}
header .title h1 {
  font-family: sofia-pro, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top: 5px;
}